body {
  font-size: 1.25em;
  background: linear-gradient(blanchedalmond, lightgray);
  margin: 0;
  padding: 0;
}
.flexContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col1 {
  border: 1px solid black;
  border-radius: 8px;
  padding: 3rem;
  margin: 2rem;
  background-color: lightblue;
  box-shadow: 0px 5px 15px black;
}
h1 {
  text-align: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 10px;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

button,
input {
  margin: 10px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.85em;
}
input {
  display: block;
}

button:hover {
  background-color: black;
  color: white;
}
.container {
  width: 600px;
  height: 600px;
  display: grid;
  /* A definir grid dinamicamente en js */
  /* grid-template-columns: repeat(16, 1fr); */
  /* grid-template-rows: repeat(16, 1fr); */
  /* gap: 1px; */
  justify-content: center;
  box-shadow: 0px 5px 15px black;
}

.container > div {
  background-color: white;
}

.container > div:hover {
  background-color: black;
}

.canvas {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.active {
  background-color: black;
  color: white;
}
